<h1>Newsfeedr</h1>

<% @news.each do |story| %>
  <article>
    <a href="<%= story[:link] %>">
      <h2><%= story[:title] %></h2>
    </a>
    <em><%= story[:pubDate] %></em>
    <p><%= story[:description] %></p>
  </article>
<% end %>